@tailwind base;
@tailwind components;
@tailwind utilities;

/*
	{text,bg}-orange-300/700
	{text,bg}-lime-300/700
	{text,bg}-cyan-300/700
	{text,bg}-pink-300/700
*/

@layer base {
	code {
		@apply dark:text-orange-300 text-orange-700;
	}

	h1 {
		@apply text-2xl font-bold;
	}

	h2 {
		@apply text-xl font-bold;
	}

	h3 {
		@apply text-lg font-bold;
	}

	h4 {
		@apply text-lg font-bold;
	}

	main h1,
	main h2,
	main h3,
	main h4 {
		@apply mt-6 -mb-3 mx-4;
	}

	p:not(:has(> img, > video)) {
		@apply mt-4 mx-4;
	}

	body:has(#menu-open:checked) {
		@apply overflow-y-hidden;
	}

	@supports not selector(:has(a, b)) {
		p {
			@apply mt-4 mx-4;
		}
	}

	p video,
	p img {
		@apply w-full mt-4;
	}

	a:not([x-bare]) {
		@apply dark:text-cyan-300 text-cyan-700 hover:underline;
	}

	hr {
		@apply my-4;
	}
}
