---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Welcome to GPAD">
	<p>GPAD is an active and supportive PlayStation 5 and Xbox X|S gaming community.</p>

	<p>
		Our main game is Grand Theft Auto, but our members play a variety of other games as well such as
		Call of Duty, Minecraft, Forza and more.
	</p>

	<p>
		We have an active discord community where members can game together, but also share experiences
		outside of gaming. If you're looking for an established GTA PlayStation community and a growing
		Xbox community, then GPAD is for you!
	</p>
</Layout>
