---
import type { IconProp } from '@fortawesome/fontawesome-svg-core';
import { FontAwesomeIcon } from '@fortawesome/react-fontawesome';
export interface Props {
	href: string;
	icon: IconProp;
}

const { href, icon } = Astro.props;
---

<a
	x-bare
	href={href}
	class="px-4 py-2 border-2 border-zinc-900/60 bg-zinc-300 dark:bg-zinc-800 rounded min-w-[theme(spacing.30)] max-w-[theme(spacing.60)] w-full shrink-0 flex flex-row items-center hover:bg-gradient-to-br from-pink-300 to-orange-300 hover:text-zinc-900"
>
	<FontAwesomeIcon className="h-7 w-7 mr-4" icon={icon} />
	<div class="text-center w-full">
		<slot />
	</div>
</a>
