---
import { Image } from '@astrojs/image/components';
import { MenuButton } from './MenuButton';
const { title } = Astro.props;
---

<header
	class="flex flex-row space-x-3 justify-between items-center fixed h-16 w-full px-4 backdrop-blur bg-zinc-800/50 text-zinc-300"
>
	<h1 hidden>GPAD Crew</h1>
	<Image src="/logo.webp" format="webp" width={40} height={40} alt="GPAD Crew logo" />
	<h2>{title}</h2>
	<MenuButton />
</header>
