---
import { Image } from '@astrojs/image/components';
import type { MarkdownInstance } from 'astro';
import Menu from './Menu.astro';

export interface Props {
	title: string;
	pages: MarkdownInstance<Record<string, any>>[];
}

const { title, pages } = Astro.props;
---

<header class="fixed w-full bg-zinc-800/70 text-zinc-300 backdrop-blur z-30 drop-shadow-lg">
	<div class="h-16 max-w-screen-lg flex flex-row justify-between items-center px-4 mx-auto">
		<h1 hidden>GPAD Crew</h1>
		<Image src="/logo.webp" format="webp" width={40} height={40} alt="GPAD Crew logo" />
		<h2>{title}</h2>
		<Menu pages={pages} />
	</div>
</header>
